.imagen{
    max-height: 100%;
    
}

.logo2{
    height: 100px;
    width: 100px;
}

.navegacion{
    display: flex;
    justify-content: center ;
    align-items: center;
    position: relative;
}

.nav1{
    display: flex;
}

.nav1 ul{
    list-style: none;
    display: flex;
    text-align: center;
}

.nav1 ul, a{
    padding: 5px;
}

.formulario{
    display: flex;
    align-items: center;
    width: 400px;
}

.formulario #busqueda{
    width: 100%;
}

.btn-group{
    margin-left: 1rem;
}


.saludo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 5px;
    margin: 5px;
}



.main_barra{
    display: flex;
    justify-content: space-around;
}


.col{
    display: flex;
    justify-items: center;  
    margin: 2%;
    padding: 2px;
}



#foot{
    background: linear-gradient(#3b3a3a, #000000);
    text-align: center;
    align-items: center;
    height: 3rem;
}

.botones{
    display: flex;
    flex-direction: column;
}

.CompraP{
    padding-right: 2px;
    margin: 2px;  
    text-align: center;
}

.CompraB{
    padding-right: 2px;
    margin: 2px;
    text-align: center;
}

.count{
    display: flex;
    width: 35%;
}